<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ComCourse</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/carousel.css">
  <link rel="stylesheet" href="./css/owl.carousel.min.css">
  <link rel="stylesheet" href="./css/owl.theme.default.min.css">
  <link rel="stylesheet" href="./css/comcourse-final.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <!--LINKS-->
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid d-flex justify-content-between align-items-center">

        <!-- Logo + Menu -->
        <div class="d-flex align-items-center gap-3">
          <a href="index.html"><img src="./img/logoCo.png" alt="Logo Coruja" class="logo"></a>
        </div>
      
        <!-- Formulário de busca -->
        <form id="form-search" class="d-none d-md-block me-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
      
        <!-- Botões à direita -->
        <div class="topbar-right d-flex align-items-center gap-3">
          <a class="btn-cursos" href="#cursos">Cursos</a>
          <a href="SobreNos.html" class="user">Sobre Nós</a>
          <div class="perfil-bolinha">
            <i class="fas fa-user"></i>
          </div>
        </div>
      </div>
    </nav>
    
    </div>
  </header>

  <main>

      <section class="titulo">
        <h1 class="main-title">Sobre Nós</h1>
        <hr>
      </section>
    </section>
    <div class="course-card2">
      <p>Tendo em vista a crescente procura por conhecimento atualmente, visamos desenvolver um site
        que revele cursos gratuitos e com as melhores avaliações a partir do seu uso.<br>
        Conforme as estatísticas da BBC indicam e como dito pela mesma:
        "As evidências são palpáveis: já há um tempo que testes de QI (Quociente de Inteligência) têm apontado que as novas gerações são menos inteligentes que anteriores." (2020),<br>
        porém, ao buscar estatísticas passadas, pode-se observar que costumava ser normal e até mesmo preciso que as gerações recentes fossem mais inteligentes que as anteriores.<br>
        
        Uma pessoa é inteligente quando resolve um problema, mas sábia quando o previne.<br>
        No entanto, a partir do momento que se enxerga uma comunidade precária e marcada pela ausência de métodos de estudo eficazes, compreende-se que fica difícil observar esse ideal de Einstein —<br>
        não só em função dos indivíduos não buscarem medidas atenuantes, mas também pela falta de incentivo do governo e demais estruturas capazes de resolver e mesmo prevenir que se agrave a crescente falta de compartilhamento e conquista de conhecimento.<br>
        
        O site ComCourse (CC) busca facilitar principalmente a pesquisa e conta com que os usuários possam compartilhar seus estudos.<br>
        Conforme o economista britânico Sir Arthur Lewis (Ano):
        "Educação nunca foi despesa. Sempre foi investimento com retorno garantido",<br>
        porém não é possível observar atualmente como este investimento está sendo desenvolvido.<br>
        Com isso, desejamos produzir um site que invista na educação da comunidade e acreditamos que com o ComCourse isto pode ser possível.</p>
    </div>

    <section class="titulo">
      <h1 class="main-title">Programadores</h1>
      <hr>
    </section>

<div id="Criadores" class="container marketing text-center">
  <div class="row">
      <div class="col-lg-4">
          <img src="https://i.postimg.cc/sxG4KWvR/foto-amanda.jpg"
              class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagem 1">
          <h2 class="fw-normal">Amanda Rothmann</h2>
          <p>
             </p>
          <p><a target="_blank" class="btn btn-secondary" href="https://github.com/rothmail">
                  rothmail»</a>
          </p>
      </div>
      <div class="col-lg-4">
          <img src="https://i.postimg.cc/CMmRgskP/Whats-App-Image-2025-05-23-at-14-19-18.jpg" class="bd-placeholder-img rounded-circle"
              width="140" height="140" alt="Imagem 2">
          <h2 class="fw-normal">Cleber Junior</h2>
          <p>

          </p>
          <p><a target="_blank" class="btn btn-secondary" href="https://github.com/nitratojr">nitratojr
                  »</a></p>
      </div>
      <div class="col-lg-4">
          <img src="https://i.postimg.cc/5NNxHmYG/foto-dani.jpg"
              class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagem 3">
          <h2 class="fw-normal">Danielle Yasmin</h2>
          <p>

          </p>
          <p><a target="_blank" class="btn btn-secondary" href="https://github.com/DanizitaDs">DanizitaDs
            »</a></p>
      </div>
      <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center mx-auto">
          <img src="https://i.postimg.cc/SKCXb0fC/vitor.png"
              class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagem 4">
          <h2 class="fw-normal">Vitor Leonardo</h2>
          <p>
            
          </p>
          <p><a target="_blank" class="btn btn-secondary" href="https://github.com/VithorLeonardoMS">VithorLeonardoMS
                  »</a></p>
      </div>
      
  </div>
</div>


</main>


   <!-- Rodapé -->
   <footer class="footer">
    <div class="footer-content">
      <i class="fab fa-instagram"></i>
    </div>
  </footer>

  <div id="overlay">
    <div id="overlay-content">
      <div class="overlay-button"><a href="Perfil.html" class="text-decoration-none text-white"><i class="fas fa-user"></i> Seu perfil</a></div>
      <div class="overlay-button"><a href="editar.html" class="text-decoration-none text-white"><i class="fas fa-edit"></i> Editar Cursos/Aulas</a></div>
      <div class="overlay-button"><a href="criar_cursos.html" class="text-decoration-none text-white"><i class="fa fa-plus"></i>Criar Cursos</a></div>
      <div class="overlay-button"><a href="criar_aula.html" class="text-decoration-none text-white"><i class="fa fa-plus"></i> Criar Aulas</a></div>
      <div class="overlay-button"><a href="https://wa.me/5551999495754" class="text-decoration-none text-white"><i class="fas fa-headphones"></i> Suporte </a></div>
      <div class="overlay-button text-white" onclick="excluirConta()"><i class="fas fa-cog"></i> Excluir Conta</div>
      <div id="red" class="overlay-button text-red" onclick="sair()"><i class="fa fa-sign-out" ></i> Sair</div>
    </div>
  </div>
  <div id="config-modal">
    <div class="config-modal-content">
      <button onclick="excluirConta()">Excluir Conta</button>
      <button class="sair" onclick="sair()">Sair</button>
    </div>
  </div>

 
  <script src="./js/overlay.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="../assets/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>
</body>

</html>